.debug{
    border: 1px solid red;
}

body{
    font-family: "Montserrat", sans-serif;
}

.wrapper{
    height: 100vh;
}

.container{
    width: 1200px;
    height: 1000px;
    border: 1px solid red;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fill-out,.ticket{
    width: 900px;
    height: 350px;
    border-radius: 20px;
    margin:auto;
    margin-top: 50px;
}

.fill-out-area{
    margin-top: 30px;
}

.single-form{
   width: calc(100% / 3);
}

.form-label,.btn{
    font-size: 0.8em;
}

.form-control,.form-select{
    font-size: 0.6em;
}

.buttons-area{
    margin-top: 100px;
}

.ticket-left-text{
    width: 30%;
    height: 250px;
}

.ticket-rigth{
    width: 60%;
    height: 250px;
}

.table{
    width: 100%;
}

.table thead tr th{
    font-size: 0.4em;
    border-style: none;
}

.table tbody tr td{
    font-size: 0.4em;
    padding-top: 50px;
    border-style: none;
    background-color: lightgray;
}